@font-face {
  font-family: 'iconfont';  /* project id 731859 */
  src: url('//at.alicdn.com/t/font_731859_iezb6balok.eot');
  src: url('//at.alicdn.com/t/font_731859_iezb6balok.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_731859_iezb6balok.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_731859_iezb6balok.woff') format('woff'),
  url('//at.alicdn.com/t/font_731859_iezb6balok.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_731859_iezb6balok.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e637";
}

.icon-notebook:before {
  content: "\e65f";
}

.icon-caretdown:before {
  content: "\e633";
}

.icon-collect:before {
  content: "\e60c";
}

.icon-tuxing:before {
  content: "\e614";
}

.icon-like:before {
  content: "\e630";
}

.icon-comment:before {
  content: "\e667";
}

.icon-weixin:before {
  content: "\e73b";
}

.icon-xiaoxi:before {
  content: "\e601";
}

.icon-guanyuwomen:before {
  content: "\e602";
}

.icon-dianzan:before {
  content: "\e61f";
}

.icon-caret-right:before {
  content: "\ef5e";
}

